# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/

# Environment variables
.env
.env.local


# Transcripts (opcional - remova se quiser commitar)
transcripts.json
